* {
    box-sizing: content-box;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

#tsparticles {
    position: absolute;
    z-index: -1;
  }

/* ---MAIN--- */

.main-promo {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    gap: 35px;
    z-index: 2;
}

.main-promo > h2 {
    color: aqua;
    font-size: 30px;
}

.main-promo > h1 {
    color: white;
    font-size: 40px;
    line-height: 50px;
}

.line {
    height: 3px;
    width: 35px;
    background-color: white;
    position: relative;
    z-index: 2;
}

.main-hamburger {
    position: fixed;
    top: 5%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 8px;
    left: 95%;
    cursor: pointer;
}

.main-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.main-btn {
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.main-btn:hover {
    transform: scale(1.1);
    text-decoration: underline;
    transition: all 0.5s;
}

.main-btn.portfolio {
    background-color: aqua;

}

.main-btn.about {
    background-color: transparent;
    color: white;
}

.main-nav {
    position: absolute;
    z-index: 5;
    background-color: black;
    width: 100vw;
    height: 100vh;
    animation-name: openMenu;
    animation-duration: 1s;

}

.nav-close {
    position: fixed;
    top: 5%;
    left: 95%;
    cursor: pointer;
}

.nav-links {
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    top: 25%;
    left: 43%;
    gap: 30px;
    list-style: none;
    cursor: pointer;
    text-transform: uppercase;
}

.nav-link::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    position: relative;
    left: -40px;
    top: 28px;
    transition: 0.5s all ease-out;
}

@keyframes openMenu {
    0% {width: 0%;} 

    100% {width: 100vw;}

}

.nav-link:hover::before {
    background-color: white;
    transition: 0.5s all;
}